# Ignore node_modules folder (installed dependencies)
node_modules/

# Ignore Visual Studio Code workspace settings
.vscode/

# Ignore build output folders
dist/
out/

# Ignore package lock file (optional, if using npm)
package-lock.json
yarn.lock
